body{
    color: black;
    font-family: sans-serif;
    
}
#rr{
    background-color: rgb(214, 218, 20);
}
#rr:hover{
    background-color: aqua;
}
.container{
    padding: 30px;
    background: red;
}
input{
    display: block;
    width: 90%;
    padding: 6px;
    margin: 5%;
    box-sizing: border-box;
    border-color: brown;
    background: transparent;
    transition: color 0.8s;
    transition: background 0.1s;;
}
input:hover{
    background: rgb(240, 116, 116);
}
input::placeholder{
    color: azure;
}
input:hover::placeholder{
    color: green;
}

input[type="submit"]{
    width: 50%;
    background-color: aqua;
}
input:hover[type="submit"]{
   background: rgb(100, 76, 231);
}
form{
    width: 80%;
    margin: auto;
    background-color: blue;
    padding: 20px;
}
h2{
    color: aliceblue;
    margin: 20px;
}